.combine-with-title {
    border-bottom:.07143rem solid #e9e9e9;
    color:#000;
    font:1.28571rem CentraNo1-Book,sans-serif;
    margin:2.14286rem 0;
    padding-bottom:1.42857rem
   }
   .combine-with-items {
    padding:0 3.57143rem
   }
   @media (min-width:768px) {
    .combine-with-items {
     padding:0 6.42857rem
    }
   }
   .recommendations-title {
    border-bottom:.07143rem solid #e9e9e9;
    color:#000;
    font:1.28571rem CentraNo1-Book,sans-serif;
    margin:2.14286rem 0;
    padding-bottom:1.42857rem;
    text-transform:uppercase
   }
   .recommendations {
    margin:2.85714rem 0;
    overflow:hidden
   }
   .recommendations a {
    outline:none
   }
   .recommendations .image-container {
    text-align:center
   }
   .recommendations .more-swatches {
    display:none
   }
   .recommendations .product-tile .quickview {
    background:transparent
   }
   .recommendations .product-tile .product-tile-link {
    color:#7f7f7f;
    margin:0 auto;
    text-align:center
   }
   .recommendations .product-tile .price-container .old .decimal,
   .recommendations .product-tile .price-container .old .symbol,
   .recommendations .product-tile .price-container .sales .decimal,
   .recommendations .product-tile .price-container .sales .symbol {
    font-size:.71429rem
   }
   .recommendations .product-tile .price-container .old .abs-value,
   .recommendations .product-tile .price-container .sales .abs-value {
    font-size:.85714rem
   }
   .recommendations .slick-slide {
    display:inline-block;
    margin-right:1.07143rem;
    outline:none
   }
   .recommendations .slick-list {
    margin-right:-1.07143rem
   }
   .recommendations .slick-disabled .recommendations-arrow-icon,
   .recommendations .slick-hidden .recommendations-arrow-icon {
    display:none
   }
   .recommendations .arrow-next,
   .recommendations .arrow-prev {
    -webkit-transform:translateY(calc(-50% - .5px));
    cursor:pointer;
    position:absolute;
    top:50%;
    transform:translateY(-50%) translateY(-.5px)
   }
   .recommendations .arrow-next .recommendations-arrow-icon,
   .recommendations .arrow-prev .recommendations-arrow-icon {
    color:#ccc;
    font-size:1.71429rem
   }
   .recommendations .arrow-prev {
    left:.71429rem
   }
   .recommendations .arrow-next {
    right:.71429rem
   }
   .recommendations .recommendations-carousel-pagination {
    display:none
   }
   .recommendations .product-carousel-recommendatios {
    position:relative
   }
   .recommendations .recommendations-carousel {
    display:none;
    margin-right:-1.07143rem;
    overflow:hidden
   }
   .recommendations .recommendations-carousel.slick-initialized {
    display:block
   }
   .recommendations .product-tile-link {
    font-size:.85714rem;
    margin-bottom:.35714rem;
    text-transform:uppercase
   }
   .recommendations .recommendations-title {
    font-family:CentraNo1-Book,sans-serif;
    font-size:1.28571rem;
    line-height:1;
    margin:0 0 2.14286rem;
    text-transform:uppercase
   }
   @media (min-width:544px) {
    .recommendations .recommendation-product {
     margin-right:2.14286rem
    }
    .recommendations .slick-list {
     margin-right:-2.14286rem
    }
    .recommendations .recommendations-carousel {
     margin:0 3.57143rem
    }
    .recommendations .slick-initialized+.recommendations-carousel-pagination {
     display:block
    }
   }
   @media (min-width:1200px) {
    .recommendations {
     padding:0 6.42857rem
    }
   }
   .combine-with-items .quickview,
   .combine-with-items .quickview:hover {
    background:transparent;
    border:none;
    color:#7f7f7f;
    font:1.14286rem CentraNo1-Book,sans-serif;
    margin:0;
    max-width:none;
    overflow:hidden;
    padding:0;
    text-decoration:none;
    text-overflow:ellipsis;
    white-space:nowrap
   }
   .homepage-content {
    display:flex;
    flex-direction:column;
    padding:0 0 3.57143rem
   }
   .homepage-content img {
    max-width:100%
   }
   .homepage-content .homepage-slot {
    min-height:.07143rem
   }
   .home-section {
    margin:3.57143rem 0
   }
   .home-section .sided .home-sided-text {
    padding:2.5rem 0;
    text-align:center
   }
   .home-section .sided .home-sided-text h2 {
    color:#ed282d;
    font:4.14286rem NewzaldWeb-Book,serif;
    line-height:1;
    margin:0 0 1.42857rem
   }
   .home-section .sided .home-sided-text h5 {
    color:#ed282d;
    font:1.14286rem CentraNo1-Book,sans-serif;
    margin:0 0 1.07143rem;
    text-transform:uppercase
   }
   .home-section .sided .home-sided-text .btn-home {
    font:.92857rem CentraNo1-Medium,sans-serif;
    margin:0 1.07143rem 1.07143rem 0;
    min-width:12.5rem;
    padding:1.07143rem 1.78571rem;
    text-align:center
   }
   .iconic-info {
    padding:2.5rem 0;
    text-align:center
   }
   .iconic-info img {
    width:6.07143rem
   }
   .iconic-info h5 {
    color:#ed282d;
    font:1.14286rem CentraNo1-Medium,sans-serif;
    margin:.71429rem 0
   }
   .iconic-info p {
    color:#7f7f7f;
    font-size:.85714rem
   }
   .iconic-info p a {
    color:#7f7f7f;
    text-decoration:underline
   }
   .iconic-info p a:hover {
    text-decoration:none
   }
   @media (min-width:992px) {
    .home-section .sided {
     border:.07143rem solid #f7f7f7
    }
    .home-section .sided .home-sided-text {
     padding:0 3.57143rem 0 2.5rem;
     text-align:left
    }
    .home-section .sided .home-sided-text h2 {
     font-size:6.14286rem;
     margin-left:-9.92857rem
    }
   }
   .homepage-mobile-1 {
    order:1
   }
   .homepage-mobile-2 {
    order:2
   }
   .homepage-mobile-3 {
    order:3
   }
   .homepage-mobile-4 {
    order:4
   }
   .homepage-mobile-5 {
    order:5
   }
   .homepage-mobile-6 {
    order:6
   }
   @media (min-width:768px) {
    .homepage-tablet-1 {
     order:1
    }
   }
   @media (min-width:768px) {
    .homepage-tablet-2 {
     order:2
    }
   }
   @media (min-width:768px) {
    .homepage-tablet-3 {
     order:3
    }
   }
   @media (min-width:768px) {
    .homepage-tablet-4 {
     order:4
    }
   }
   @media (min-width:768px) {
    .homepage-tablet-5 {
     order:5
    }
   }
   @media (min-width:768px) {
    .homepage-tablet-6 {
     order:6
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-1 {
     order:1
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-2 {
     order:2
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-3 {
     order:3
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-4 {
     order:4
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-5 {
     order:5
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-6 {
     order:6
    }
   }
   @media (min-width:992px) {
    .homepage-desktop-hide {
     display:none
    }
   }
   @media (min-width:768px) and (max-width:991.98px) {
    .homepage-tablet-hide {
     display:none
    }
   }
   @media (max-width:767.98px) {
    .homepage-mobile-hide {
     display:none
    }
   }