.flex{
    display: flex;
}
.grid{
    display: grid;
    width: $gridwidth;
    margin: 0 auto;
    @media(min-width: $tablet){
        width: $gridwidtht;
    }
    @media(min-width: $desktop){
        width: $gridwidthd;
    }
}

/* ====================== */
/* ======= IMAGES ======= */
/* ====================== */
.imgfit{
    display: block;
    width: 100%;
    height: auto;
    img, source{
        display: block;
        width: 100%;
        height: auto;
    }
}

/* ===================================== */
/* ======= RESPONSIVE VISIBILITY ======= */
/* ===================================== */
.visivel-m{
    display: block;
    @media(min-width: $tablet){
        display: none;
    }
    @media(min-width: $desktop){
        display: none;
    }
}
.visivel-t{
    display: none;
    @media(min-width: $tablet){
        display: block;
    }
    @media(min-width: $desktop){
        display: none;
    }
}
.visivel-t-down{
    display: block;
    @media(min-width: $desktop){
        display: none;
    }
}
.visivel-t-up{
    display: none;
    @media(min-width: $tablet){
        display: block;
    }
}
.visivel-d{
    display: none;
    @media(min-width: $tablet){
        display: none;
    }
    @media(min-width: $desktop){
        display: block;
    }
}